@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url/place__url.css);
@import url(./__url-heading/place__url-heading.css);

.place:not(:first-child) {
  margin-top:5.9rem;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .place{
    display:grid;
    grid-template-columns: auto 49%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 4%;

     grid-template-areas:
      "title website"
      "image paragraph1"
      "image paragraph2"
      ". paragraph3"
      ". paragraph4";
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .place{
    display:grid;
    grid-template-columns: fit-content(400px)  fit-content(49.25%);
    grid-template-rows: auto minmax(190px,auto) minmax(60px,auto) auto;
    grid-column-gap: 3.25%;


     grid-template-areas:
      "title website"
      "image paragraph1"
      "image paragraph2"
      ". paragraph3"
      ". paragraph4";
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .place{
    display:grid;
    grid-template-columns:minmax(46.75%,440px) 49%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 3%;
    justify-items: start;


     grid-template-areas:
      "title website"
      "image paragraph1"
      "image paragraph2"
      ". paragraph3"
      ". paragraph4";
  }
}

@media only screen and (min-width: 1281px)  {
  .place{
    display:grid;
    grid-template-columns: 46rem 48.4rem;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 4rem;

     grid-template-areas:
      "title website"
      "image paragraph1"
      "image paragraph2"
      ". paragraph3"
      ". paragraph4";
  }
}

