.comments__container {
  padding:0;
  list-style-type:none;
  margin:12.43% auto 0;
}


@media only screen and (min-width: 426px) and (max-width: 768px)   {
  .comments__container  {
    margin:7.18rem auto 0;
    max-width:38.2rem;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .comments__container  {
    margin:7% auto 0;
    display:flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1025px)  and (max-width: 1280px) {
  .comments__container  {
    margin:5.75% auto 0;
    display:flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1281px) {
  .comments__container  {
    margin:7.2rem auto 0;
    display:flex;
    justify-content: space-between;
  }
}



