.comment__quote {
  font-size:1.6rem;
  line-height:2.3rem;
  margin:2.4rem auto 0;
}


@media only screen and (min-width: 769px)   {
  .comment__quote {
    font-size:1.4rem;
    line-height:2.4rem;
  }
}
